@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
}

:root{
  /* based Spectral Scarab Palette by LostInIndigo https://lospec.com/palette-list/spectral-scarab */
  --col01: #3c004e;
  --col02: #361a6b;
  --col03: #313488;
  --col04: #2b4ea5;
  --col05: #2668c2;
  --col06: #419bc9;
  --col07: #5ccdd0;
  --col08: #76ffd6;
  --border: solid 4px var(--col01);
}

body{
  font-family: "Work Sans", serif;
  background-color: var(--col01);
  color: var(--col08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}

dialog{
  margin: auto;
  background-color: var(--col01);
  color: var(--col08);
  
}
dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}
.dialogBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dialogCloseBtn{
  background-color: var(--col01);
  color: var(--col08);
  width: fit-content;
}

#playbackToggle{
  width: 15rem; height: 2rem;
  background-color: var(--col03);
  border-radius: 1rem;
}

.feedbackExampleWrapper{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

#rangeSliderWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem;
}

.rangeBox{
  display: flex;
  justify-content: space-between;
  width: 20rem;
}
.rangeBox span{
  font-size: 2rem;
}


/* below input range style based on alyssa hollands article: https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
/***** Track Styles *****/

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--col03);
  height: 0.5rem;
}
/***** Thumb Styles *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: var(--col04);
  height: 2rem;
  width: 1rem;    
}
input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid var(--col06);
  outline: 3px solid var(--col08);
  outline-offset: 0.125rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: var(--col03);
  height: 0.5rem;
}
/***** Thumb Styles *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: var(--col04);
  height: 2rem;
  width: 1rem;
}
input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--col06);
  outline: 3px solid var(--col08);
  outline-offset: 0.125rem;     
}
